html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* evita scroll */
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; 
  height: 100vh;
  padding: 0;
}

.title {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #e0e0e0;
}

.handContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 cartas en una fila */
  gap: 5px;
  justify-items: center;
  margin-bottom: 0.5rem; 
}

.actionsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.discardButton {
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #555;
  color: #888;
  background-color: #333;
  cursor: not-allowed;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.playButton {
  padding: 12px 30px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid #555;
  color: #888;
  background-color: #333;
  cursor: not-allowed;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.discardButton.enabled {
  background-color: #b22222; 
  border-color: #ff6347; 
  color: white;
  cursor: pointer;
}

.discardButton.enabled:hover {
  transform: scale(1.05);
}