.wrapper {
  position: relative;
  width: 130px;
  transition: transform 0.2s ease;
}

.wrapper.hidden :global(.card) {
  filter: brightness(0.5) grayscale(0.8);
  transition: filter 0.3s ease;
}

.wrapper.hidden:hover :global(.card) {
  filter: brightness(0.7) grayscale(0.4);
}

.revealedOverlay {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  border: 1px solid gold;

  z-index: 15;
}